<!DOCTYPE html>
<html>
    <head>
        <title>User-signup</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>
    <body>
        <h2>Signup</h2>

        <form method="POST">
            <table>
                <tr>
                    <td><label for="username">Username</label></td>
                    <td>
                        <input name="username" type="text" value="" />
                        <span class="error">That's not a valid username</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td>
                        <input name="password" type="password" value="" />
                        <span class="error">That's not a valid password</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="verified_password">Re-enter Password</label></td>
                    <td>
                        <input name="verified_password" type="password" value="" />
                        <span class="error">Passwords don't match</span>
                    </td>
                </tr>
                <tr>
                    <td><label for="email">Email (optional)</label></td>
                    <td>
                        <input name="email" type="text" />
                        <span class="error">Invalid email</span>
                    </td>
                </tr>
            </table>
        </form>

    </body>
</html>
